# Vercel
TELEGRAM_BOT_TOKEN=
TELEGRAM_WEBHOOK_SECRET=

# Worker WhatsApp
PREFIXE=.
DOSSIER_AUTH=auth_baileys
NUMBER=
USE_QR=false
LOG_LEVEL=silent
RECONNECT_DELAY=5000

# WhatsApp channel used as the temporary source for command replies
COMMAND_CHANNEL_JID=120363373387302754@newsletter

# WhatsApp Channel used as the temporary source for command responses
COMMAND_CHANNEL_URL=https://whatsapp.com/channel/0029VbDcajz5kg72zq6ETS38
